.button{
	background-color: $color-darkBlue;
  color: $color-white;
  font-size: 18px;
  padding: 10px 24px;
  border: none;
	outline: none;
	border: 1px solid $color-white;
	cursor: pointer;
}

.button--demo{
	background-color: $color-red;
	width: 165px;
	padding: 7px 20px;
	border: none;
	margin-bottom: 20px;
	border: 1px solid $color-white;
}

.button--register {
	box-sizing: border-box;
	background-color: $color-red;
	font-size: 14px;
	padding: 10px;
	font-family: 'Gotham Book';
	min-width: 140px;
	font-size: 14px;
	@media all and (max-width: 1050px) {
		font-size: 12px;
		min-width: auto;
		padding:5px 10px;
		margin-right: 20px;
	}
}

.button--search{
	background: $color-darkBlue;
	font-size: 14px;
	padding: 0 30px;
	border: 1px solid $color-white;
	height: 40px;
	line-height: 40px;
}

.button--contact
.button--submit{
	width: 100%;
	padding: 0;
	margin-top: 10px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}

.button--close {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 15px;
	right: 30px;
	font-weight: bold;
	width: 24px;
	height: 24px;
	padding:0;
	line-height: 24px;
	font-size: 14px;
}

.button--report{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-darkBlue;
	color: $color-white;
	font-size: 1em;
	border: none;
	outline: none;
	border: 1px solid $color-white;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 auto 15px;
	height: 50px;
	width: 250px;
}

.button--share{
	background: $color-darkBlue;
	font-size: 14px;
	outline: none;
	color: $color-white;
	border: 1px solid $color-white;
	float: right;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	cursor: pointer;

}

.indicators__arrow--wrap {
	height: 100%;
	width: 100%;
	text-align: center;
}

.indicators__arrow {
	height: 50px;
	width: auto;
	cursor: pointer;
	padding: 5px 5px;
	padding-top: 0;
}

.bounce {
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation: bounce 3s ease infinite;
	transform-origin: 50%, 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  33.33333% {
    transform: translateY(-15px);
  }
  55.55555% {
    transform: translateY(0);
  }
 	77.77777% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}
