.button{
	background-color: $color-darkBlue;
  color: $color-white;
  font-size: 18px;
  padding: 10px 24px;
  border: none;
	outline: none;
	border: 1px solid $color-white;
}

.button--demo{
	background-color: $color-red;
	width: 165px;
	padding: 7px 20px;
	border: none;
}
.button--contact{
	width: 294px;
  padding: 7px 27px;
 }
.button--search{
	background: $color-darkBlue;
  font-size: 16px;
  padding: 0;
  padding: 5px 10px;
	outline: none;
	border: 1px solid #fff;
}
.button--submit{

}

 .button--close{

 }
