.button{
	background-color: $color-darkBlue;
  color: $color-white;
  font-size: 18px;
  padding: 10px 24px;
  border: none;
	outline: none;
	border: 1px solid $color-white;
	cursor: pointer;
}

.button--demo{
	background-color: $color-red;
	width: 165px;
	padding: 7px 20px;
	border: none;
	margin-bottom: 20px;
	border: 1px solid $color-white;
}

.button--register {
	background-color: $color-red;
	font-size: 14px;
	padding: 10px;
	font-family: 'Gotham Book';
	margin-left: 15px;
}
.button--search{
	background: $color-darkBlue;
  font-size: 16px;
  padding: 0;
  padding: 5px 10px;
	outline: none;
	border: 1px solid $color-white;
}
.button--submit{
	width: 150px;
	padding: 7px 20px;
}

.button--close {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 20px;
	right: 30px;
	font-weight: bold;
	width: 20px;
	padding: 3px 15px;
}

.button--report{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-darkBlue;
	color: $color-white;
	font-size: 1em;
	border: none;
	outline: none;
	border: 1px solid $color-white;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 auto 15px;
	height: 50px;
	width: 250px;
}
