.button{
	background-color: $color-darkBlue;
  color: $color-white;
  font-size: 18px;
  padding: 10px 24px;
  border: none;
	outline: none;
	border: 1px solid $color-white;
	cursor: pointer;
}

.button--demo{
	background-color: $color-red;
	width: 165px;
	padding: 7px 20px;
	border: none;
	margin-bottom: 20px;
	border: 1px solid $color-white;
}
// .button--contact{
// 	width: 240px;
//   padding: 7px 20px;
// 	font-size: 1em;
// 	margin:0 auto;
//  }
.button--search{
	background: $color-darkBlue;
  font-size: 16px;
  padding: 0;
  padding: 5px 10px;
	outline: none;
	border: 1px solid $color-white;
}
.button--submit{
	width: 150px;
	padding: 7px 20px;
}

.button--close {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 20px;
	right: 30px;
	font-weight: bold;
	width: 20px;
	padding: 3px 15px;
}

.button--report{
	background-color: $color-darkBlue;
	color: $color-white;
	font-size: 1em;
	padding-top: 17.5px;
	border: none;
	outline: none;
	border: 1px solid $color-white;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	height: 50px;
	width: 250px;
}
