.carto {
  position: relative;
	margin-top: 20px;
	width: 45%;
  overflow: hidden;
}
.CDB-Size-large {
    font-size: 10px!important;
    line-height: 22px!important;
}


.share_map {
	width: 100%;
background: red;
padding: 11px;
position: absolute;
bottom: -1px;
}

.popup_iframe {
  background: blue;
  position: absolute;
  right: -79%;
  padding: 50px;
  bottom: 0%;
  z-index: 1000;
  width: 350px;
}
