.carto {
  position: relative;
	margin-top: 20px;
	width: 45%;
  overflow: hidden;
}
.CDB-Size-large {
    font-size: 10px!important;
    line-height: 22px!important;
}


.share_map {
	width: 100%;
background: $color-white;
padding: 11px;
position: absolute;
bottom: -1px;
}

.popup_iframe {
	background-color: $color-white;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 20px 50px 50px 50px;
  z-index: 1000;
  max-width: 350px;
	width: 85%;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.textarea__iframe {
	width: 100%;
	height: 155px;
	border: 1px solid $color-darkBlue;
}
.iframe--visible {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.3);
}
.iframe {
	display: none;
}
