
.highcharts-background {

}

.highcharts-plot-background {
	height: 100px;
	width: 100px;
}

.element.style {
	fill: $color-red;
	color: $color-red;
}

.highcharts-axis-labels {
	fill: $color-red;
}

.highcharts-xaxis-labels {

}

.highcharts-yaxis-labels {

}

.highcharts-tracker {

}

.highcharts-point {
	fill: $color-red;
}

.highcharts-point.highcharts-color-0 {
	fill: $color-red;
}

.highcharts-graph {
	color: $color-red;
}
