
.highcharts-point.highcharts-color-0 {
	// fill: $color-red;
	width: 48px;
}

.highcharts-point.highcharts-color-1{
	fill: $color-darkBlue;
	width: 48px;
}

.highcharts-text-outline {
  color: white;
  fill: white;
  stroke: none;
}
