.contact {
	height: 200px;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #474e5e;
}

.contact__text {
	padding: 30px;
}

.contact__form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.form__name, .form__email, .form__message {
	margin: 5px;
}

.name-email {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
