.contact{
	background-color: $color-superlightGrey;
}

.contact__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact__text{
	margin-bottom: 20px;
}
.contact__button{
	margin-top: 20px;
}
