.coupon__background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.7);
}

.coupon{
	display: none;
}

.coupon--visible{
	display: block;
}
.asterisk {
	color: $color-red;
}
.coupon {
	display: none;
}
.coupon--visible {
	display: block;
}
.coupon__container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $color-white;
	padding: 15px 30px;
	width: 85%;
	max-width: 500px;
}

.coupon__details {
	display: flex;
	flex-direction: column;
}

.coupon__title {
	text-align: center;
	color: $color-red;
	font-size: 1.3em;
	margin-bottom: 15px;
	@media all and (max-width: 619px) {
		margin-bottom: 15px;
		font-size: 1.1em;
	}
}

.input__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 12px;
	label {
		font-size: 14px;
		margin-bottom: 6px;
	}
		@media all and (max-width: 619px) {
			font-size: 0.9em;
		}
	}
	input,
	textarea{
		border: 2px solid $color-darkBlue;
		font-size: 1em;
		padding: 5px 10px;
		outline: none;
		@media all and (max-width: 619px) {
			height: 30px;
			font-size: 0.75em;
		}
	}
	select {
		border: 2px solid $color-darkBlue;
		font-size: 1em;
		outline: none;
			border-radius:inherit;
			-webkit-appearance: none;
			-moz-appearance: none;
			padding: 5px 10px;
			position: relative;
			background: url("../images/arrow_down.svg") no-repeat;
			background-size: 30px;
			background-position: 100%, 50%;
		&:focus {
			outline: none;
		}



	}
	textarea {
		height: 60px;
		resize: none;
		@media all and (max-width: 619px) {
			height: 40px;
		}
	}

.input__submit {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Custom Input__Checkbox
.input__checkbox {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
  position: relative;
	padding-left: 30px;

  label {
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
    }
    &:before {
      width:  13px;
      height: 13px;
      background: $color-white;
      border: 2px solid $color-darkBlue;
      cursor: pointer;
      transition: background-color .3s;
			box-sizing: border-box;
    }
  }

  input[type="checkbox"] {
		position: absolute;
		left:0;
		top: 3px;
    outline: 0;
		opacity:0;
    &:checked {
      +label:before {
        background: $color-red;
        border: none;
				top:3px;
      }
      +label:after {
        transform: rotate(-45deg);
        top: 5px;
        left: 2px;
        width: 7px;
        height: 5px;
        border: 2px solid $color-white;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }
}
.input__prefix{
	display: flex;
}
.input__prefix--tel-pref{
	width: 39%;
	margin-right: 1%;
}
.input__prefix--tel{
	width: 60%;
}
.text__conditions {
	font-size: 0.8em;
}

.checkboxes {
	min-width: 250px;
  height: 100px;
	overflow-y: scroll;
	font-size: 12px;
	margin: 8px 0;
}

.input__checkbox {
	margin-bottom: 3px;
	label {
		font-size: 12px;
	}
}
