.coupon__background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.coupon{
	display: none;
}

.coupon--visible{
	display: block;
}
.asterisk {
	color: $color-red;
}
.coupon {
	display: none;
}
.coupon--visible {
	display: block;
}
.coupon__container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $color-white;
	padding: 20px 30px;
	width: 85%;
	max-width: 450px;
}
.coupon__details {
	display: flex;
	flex-direction: column;
}
.coupon__title {
	text-align: center;
	color: $color-red;
	font-size: 1.4em;
	margin-bottom: 25px;
	@media all and (max-width: 619px) {
		margin-bottom: 15px;
		font-size: 1.2em;
	}
}
.input__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 12px;
	label {
		margin-bottom: 6px;
		@media all and (max-width: 619px) {
			font-size: 0.9em;
		}
	}
	input,
	textarea {
		border: 2px solid $color-darkBlue;
		font-size: 0.9em;
		height: 40px;
		padding: 5px 10px;
		border-radius: 3px;
		outline: none;
		@media all and (max-width: 619px) {
			height: 30px;
			font-size: 0.75em;
		}
	}
	textarea {
		height: 80px;
		resize: none;
		@media all and (max-width: 619px) {
			height: 60px;
		}
	}
}
.name-surname,
.mail-phone {
	display: flex;
	width: 100%;
	justify-content: space-between;
	@media all and (max-width: 619px) {
		flex-direction: column;
	}
}
.input__modifier-left {
	width: 48%;
	margin-right: 4%;
	@media all and (max-width: 619px) {
		width: 100%;
		margin-right: 0;
	}
}
.input__modifier-right {
	width: 48%;
	@media all and (max-width: 619px) {
		width: 100%;
	}
}
.input__submit {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Custom Input__Checkbox

.input__checkbox {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
  position: relative;
	padding-left: 30px;

  label {
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
    }
    &:before {
      width:  18px;
      height: 18px;
      background: $color-white;
      border: 2px solid $color-darkBlue;
      border-radius: 2px;
      cursor: pointer;
      transition: background-color .3s;
			box-sizing: border-box;
    }
  }

  input[type="checkbox"] {
		position: absolute;
		left:0;
		top: 5px;
    outline: 0;
		opacity:0;
    &:checked {
      +label:before {
        background: $color-red;
        border: none;
				top:5px;
      }
      +label:after {
        transform: rotate(-45deg);
        top: 8px;
        left: 3px;
        width: 11px;
        height: 6px;
        border: 2px solid $color-white;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }
}
