
.cover{
	height:80vh;
	@media all and (max-width: 619px){
		height: 50vh;
	}
}

.cover__background {
	background-image: url('../images/skyfull3.jpg');
	background-position: center 0;
	background-size: cover;

	background-repeat: no-repeat;
	height: 80vh;
	width: 100%;


	@media all and (min-width: 1025px) and (max-width: 1200px){
		background-position: 0 0;
		background-size: 100%;
		background-image: url('../images/skyfull2.jpg');
		}


	@media all and (min-width: 801px) and (max-width: 1024px){
		background-position: 0 -400px;
		background-size: 100%;
		background-image: url('../images/skyfull_mobile.jpg');
		}

	@media all and (min-width: 620px) and (max-width: 800px){
		background-position: 0 -200px;
		background-size: 100%;
		background-image: url('../images/skyfull_mobile.jpg');
		}
	@media all and (max-width: 619px){
		background-position: right top 24%;
    background-image: url(/static/media/skyfull_mobile.a7293978.jpg);
    background-size: cover;
    height: 50vh;
	}
}
.cover__photo {
	height: 0;
	width: 0;
}

.title-block {
	position: absolute;
	top: 150px;
	left: 50%;
	width: 80%;
	transform: translate(-50%, 0);
	max-width: 1000px;
	@media all and (min-width: 801px) and (max-width: 1024px){
		top: 120px;
		max-width: 800px;
	}
	@media all and (min-width: 620px) and (max-width: 800px){
		top: 120px;
		max-width: 500px;
	}
	@media all and (max-width: 619px){
		top: 90px;
		}
	}
.cover__title {
	width: 100%;
	color: $color-white;
	text-align: center;
	text-transform: uppercase;
	line-height: 45px;
	@media all and (max-width: 1000px){
		font-size: 1.8em;
	}
	@media all and (max-width: 619px){
		font-size: 1.2em;
	line-height: 28px;
	margin-bottom: 0;
	}
}

.cover__subtitle {
	color: $color-white;
	text-align: center;
	line-height: 25px;
	font-size: 1.3em;
	text-transform: none;
	margin-top:20px;
	@media all and (max-width: 1000px){
		font-size: 1em;
		line-height: 22px;
	}
	@media all and (max-width: 619px){
		font-size: 0.85em;
		line-height: 17px;
		margin-top: 0;
		margin-top: 6px;
	}
}
