
.cover__background {
	background-image: url(../images/skyfull.jpg);
	background-position: 0 center;
	background-size: cover;
	height: 80vh;
	width: 100%;
	@media all and (max-width: 619px){
		height: 70vh;
		background-position: 75%;
 	}
}
.cover__photo {
	height: 0;
	width: 0;
}

.title-block {
	position: absolute;
	top: 28%;
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
	@media all and (max-width: 828px){
		top: 38%;
		}
	@media all and (max-width: 619px){
		top: 40%;
		}
	}
.cover__title {
	width: 100%;
	color: $color-white;
	text-align: center;
	text-transform: uppercase;
	line-height: 45px;
	margin-top: 7%;
	@media all and (max-width: 1000px){
		font-size: 1.8em;
    margin-top: 6%;
	}
	@media all and (max-width: 619px){
		font-size: 1.2em;
		line-height: 25px;
		margin-top: 10%;
	}
}

.cover__subtitle {
	color: $color-white;
	text-align: center;
	line-height: 30px;
	font-size: 1.3em;
	text-transform: none;
	@media all and (max-width: 1000px){
		font-size: 1em;
    margin-top: 6%;
	}
	@media all and (max-width: 619px){
		font-size: 0.8em;
		margin-top: 10%;
	}
}
