
.cover__background {
	background-image: url(../images/ny2.jpg);
	background-position: center top;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.cover__photo {
	height: 0;
	width: 0;
}

.title-block {
	margin-top: 15%;
	margin-left: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.cover__title {
	font-size: 30px;
	color: $color-darkBlue;
	text-align: left;
	text-transform: uppercase;
	line-height: 37px;
	width: 60%;
	margin-bottom: 20px;
}
