
.background {
	background-image: url(../images/madridCover.jpg);
	background-position: center center;
	background-size: cover;
	height: 70vh;
	width: 100%;
}
.cover__photo {
	height: 0;
}

.title-block {
	height: 25%;
	width: 40%;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: 30px;
	margin-top: 200px;;
}

.cover__title {
	font-family: sans-serif;
	font-size: 20px;
	font-style: normal;
	padding: 30px;
	color: #000000;
}
