.demo__span--logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.demo__title{
	padding: 0;
	margin: 0;
	align-self: flex-end;
	padding-left: 10px;
}
.demo__text {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom:20px;
}
.demo{
	background-color: lavender;
}
.demo__container {
	margin: 30px;
	padding-top: 40px;
}
.demo__input{
	font-size: 20px;
	width: 280px;
	margin: 20px 20px 20px 0;
	border: 1px solid #070d1f;
	padding: 2px 9px;
	@media all and (max-width: 619px){
			width: 260px;
			margin-bottom: 10px;
			font-size: 1em;
 	}
}
.demo__search {
	display: flex;
	width: 100%;
	margin-bottom: 30px;
}

.incomes-sales{
	display: flex;
	flex-direction: row;
	text-align: center;
	background: white;
}

.carto-graphics{
	margin-top: 10px;
	@media all and(max-width: 828px){
			width: 100%;
	}
}
.fa.fa-map-marker {
  color: #e53935;
	padding-right: 15px;
}
#addressInput {
	width: 100%;
}

#PlacesAutocomplete__autocomplete-container{
	z-index: 1000;
	position: absolute;
top: 100%;
background-color: white;
border: 1px solid rgb(85, 85, 85);
width: 100%;
}

#PlacesAutocomplete__root {
  width: 500px;
  margin-right: 10px;
}
