.demo__span--logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.demo__title{
	padding: 0;
	margin: 0;
	align-self: flex-end;
	padding-left: 10px;
}

.demo{
	background-color: lavender;
}
.demo__container {
	margin: 30px;
	padding-top: 40px;
}

.demo__text {
	font-size: 15px;
	margin-top: 20px;
}

.demo__form {
  margin-top: 10px;
}

.demo__input{
	font-size: 20px;
	width: 280px;
	margin: 20px 20px 20px 0;
	border: 1px solid #070d1f;
	padding: 2px 9px;
	@media all and (max-width: 619px){
			width: 260px;
			margin-bottom: 10px;
			font-size: 1em
 	}
}

.demo{
	background-color: lavender;
}
.demo__container {
	margin: 30px;
	padding-top: 40px;
}

.demo__text {
	font-size: 15px;
	margin-top: 20px;
}

.demo__form {
  margin-top: 10px;
}

.demo__input{
	font-size: 20px;
	width: 280px;
	margin: 20px 20px 20px 0;
	border: 1px solid #070d1f;
	padding: 2px 9px;
	@media all and (max-width: 619px){
			width: 260px;
			margin-bottom: 10px;
			font-size: 1em
 	}
}


.carto-graphics{
	display: flex;

}

.graphics{
	display: flex;
	margin-left: 10px;
	flex-direction: column;
}
.graphics_1{
	display: flex;
}
