.homeIncome{
	box-sizing: border-box;
	overflow:hidden;
		@media all and (max-width: 1000px) {
			width: 100%;
		}
}
.income__container{
	display: flex;
	padding: 20px;
	margin-top: 20px;
	justify-content: space-between;
	margin-bottom: 8px;
	margin-right: 10px;
	text-align: left;
	}
.income_graphic_container{
	display: flex;
}
.show_income_title{
	padding-bottom: 10px;
}
.income_graphic_group{
	position: relative;
	margin-left: 5px;
	margin-right: 30px;
}
.income_graphic_1{
	position: absolute;
	height: 100%;
}
.income_graphic_text_bar{
	width: 1.2em;
	height: 0.15em;
	background-color: $color-red;
	position: absolute;
	bottom: 50%;
	z-index: 0;
	left: -0.35em;
}
.income_graphic{
	background-color: $color-white;
	width: 0.5em;
	height: 100%;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}
.income_subgraphic{
	width: 0.5em;
height: 75%;
position: absolute;
bottom: 0px;
left: 0px;
background-color: rgb(91, 201, 182);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
