.indicators__container{
	display: flex;
	flex-direction: column;
}

.indicators__description--text{
	text-align: center;
	padding: 20px;
}
.indicators__list{
	list-style-type: none;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 3%;
	justify-items: center;
}
.indicators__list--item-element-title{
	padding: 10px;
	padding-left: 0;
}
.indicators__list--item-element-list{
	list-style-type: none;
}

.indicators_container--demo{
	margin-top: 30px;
	margin-bottom: 20px;
text-align: center;
}
