.block__container.indicators__container{
	margin: 0;
	padding: 0;
}

.indicators__background{
	background-image: url('../images/city.jpg');
	background-position: center top;
	background-size: cover;
	height: 100%;
	width: 100%;
	@media all and (max-width: 619px){
		height: 100%;
		background-position: 75%;
 	}
}
.indicators__description{
	padding-top: 70px;
}
.indicators__description--text{
	text-align: center;
	padding: 15px;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 18px;
	@media all and (max-width: 619px){
		padding: 13px;
		font-size: 0.9em;
	}
}
.indicators__list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	list-style-type: none;
	justify-items: center;
	grid-gap: 25px;
	padding: 0 10px;
	@media all and (max-width: 619px){
		grid-template-columns: 1fr;
		grid-gap: 25px;
		margin-top: 20px;
		text-align: center;
	}
}
.indicators__list--item{
	background-color: rgba(255, 255, 255, 0.8);
	color: $color-darkBlue;
	padding: 10px;
	border: 1 solid $color-darkBlue;
	border: solid 1px;
	border-radius: 5px;
	margin-top: 70px;
	width: 250px;
	text-align: center;
	@media all and (max-width: 828px){
		width: 180px;
		font-size: 0.9em;
	}
	@media all and (max-width: 619px){
		width: 280px;
		font-size: 1em;
	}
}

.indicators__list--item-element-title{
	padding-left: 0;
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 20px;
	padding: 20px 0;
	@media all and (max-width: 619px){
		font-size: 1.15em;
		line-height: 30px;
	}
}
.indicators__list--item-element-list{
	list-style-type: none;
	@media all and (max-width: 619px){
		font-size: 0.9em;
	  line-height: 30px;

	}
}
.indicators_container--btndemo{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
