.info {
	background-color: $color-lightGrey;
	color: $color-darkBlue;
	padding: 30px;
}

.info__container {
	display: flex;
}
.info__details--description {
	margin-right: 35px;
}
.info__details--action {
	display: flex;
	flex-direction: column;
}
.info__text {
	margin-bottom: 15px;
}
.button--contact {
	cursor: pointer;
	outline: none;
	margin-top: 15px;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: $color-darkGrey;
	color: $color-white;
	align-self: center;
	font-size: inherit;

}
