.info {
	background-color: $color-lightGrey;
	color: $color-darkBlue;
}

.info__container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 30px;
}

.info__details--action {
	display: flex;
	flex-direction: column;

}
.info__title {
	margin-bottom: 20px;
}

.info__text {
	margin-bottom: 15px;
}
