.salesTime{
	margin-top: 20px;
background-color: $color-superlightGrey;
	padding: 19px;
	width: 50%;
	box-sizing: border-box;
	overflow:hidden;

		@media all and (max-width: 1000px) {
			width: 100%;
		}
}
.salestime__container{
display: flex;
flex-direction: column;
text-align: center;
}
.salestime__title{
	padding-bottom: 10px;
}
.salestime__text{
	// padding: 10px;
	font-size: 0.9em
}
.salestime__all-data{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px 0;
	background-color: $color-superlightGrey;
}
.salestime__data{
	background-color: inherit;
	margin-right: 20px;
}
.salestime__data--title{
	margin-bottom: 5px;
	margin-right: 20px;
}
.salestime__data--numbers{
	display: flex;

}
