.services{
	background: $color-white;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.services__container{
	margin: 0 20px;
	@media all and (max-width: 835px) {
		}
}
.transport_graphic{
	width: 100%;
	margin-right: 10px;
}
.education_graphic{
	margin-top: 50px;
}
.services__title{
	text-align: center;
	padding-bottom: 25px;
}
