.services{
	background: $color-white;
	padding-top: 30px;
	width: 100%;
}
.services_container{
	margin: 0 20px;
	@media all and (max-width: 835px) {
		}
}
.transport_graphic{
	width: 100%;
	margin-right: 10px;
}
.education_graphic{
	margin-top: 50px;
}
.services_title{
	text-align: center;
}
