.steps__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.step__despcription {
	display: flex;
	justify-content: center;
	align-items: center;
}
.step__paragraphs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 10px;
	line-height: 1.5em;

}

.step__title {
	font-family: 'Gotham bold';
	color: $color-darkGrey;
}
.icon-list {
	list-style-type: none;
	max-width: 800px;
	.step {
		display: flex;
		align-items: center;
		margin-bottom: 50px;
		.step-circle {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			min-width: 80px;
			min-height: 80px;
			border-radius: 50%;
			background-color: $color-superlightGrey;
			border: 3px solid $color-midGrey;
			margin: 0 20px 0px 0;
			&:after {
				content: "";
				position: absolute;
				width: 4px;
				height: 125px;
				background-color: $color-midGrey;
				top: 100%;
				left: 50%;
				margin-left: -1px;
			}
		}
		&:last-child .step-circle {
			margin-bottom: 0;
				&:after {
				display: none;
			}
		}
	}
}
.step-number {
	color: red;
	font-size: 30px;
}
