
h1 {
	font-family: 'Gotham Book';
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Gotham Book';
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	line-height: 1.4em;
}

h3 {
	font-family: 'Gotham Book';
	font-size: 18px;
}

p {
	font-family: 'Gotham Light';
	font-size: 1em;
	line-height: 1.3;
}
