

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/GothamBold/GothamBold.eot');
    src: url('../fonts/GothamBold/GothamBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamBold/GothamBold.woff2') format('woff2'),
         url('../fonts/GothamBold/GothamBold.woff') format('woff'),
         url('../fonts/GothamBold/GothamBold.ttf') format('truetype'),
         url('../fonts/GothamBold/GothamBold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/GothamLight/GothamLight.eot');
    src: url('../fonts/GothamLight/GothamLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamLight/GothamLight.woff2') format('woff2'),
         url('../fonts/GothamLight/GothamLight.woff') format('woff'),
         url('../fonts/GothamLight/GothamLight.ttf') format('truetype'),
         url('../fonts/GothamLight/GothamLight.svg#GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light Italic';
    src: url('../fonts/GothamLightItalic/GothamLightItalic.eot');
    src: url('../fonts/GothamLightItalic/GothamLightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamLightItalic/GothamLightItalic.woff2') format('woff2'),
         url('../fonts/GothamLightItalic/GothamLightItalic.woff') format('woff'),
         url('../fonts/GothamLightItalic/GothamLightItalic.ttf') format('truetype'),
         url('../fonts/GothamLightItalic/GothamLightItalic.svg#GothamLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Book Italic';
    src: url('../fonts/GothamBookItalic/GothamBookItalic.eot');
    src: url('../fonts/GothamBookItalic/GothamBookItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamBookItalic/GothamBookItalic.woff2') format('woff2'),
         url('../fonts/GothamBookItalic/GothamBookItalic.woff') format('woff'),
         url('../fonts/GothamBookItalic/GothamBookItalic.ttf') format('truetype'),
         url('../fonts/GothamBookItalic/GothamBookItalic.svg#GothamBookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/GothamBook/GothamBook.eot');
    src: url('../fonts/GothamBook/GothamBook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamBook/GothamBook.woff2') format('woff2'),
         url('../fonts/GothamBook/GothamBook.woff') format('woff'),
         url('../fonts/GothamBook/GothamBook.ttf') format('truetype'),
         url('../fonts/GothamBook/GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
