.demo{
	background-color: lavender;
}

.demo__container {
	margin: 30px;
	padding-top: 40px;
}

.demo__title{
	font-size: 20px;
}

.demo__text {
	font-size: 15px;
	margin-top: 20px;
}

.demo__input{
	margin-top: 15px;
}
