.footer{
	background:$color-darkGrey;
	color: $color-lightGrey;
	box-sizing: border-box;
}
.footer__container{
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	@media all and (max-width: 619px){
		flex-direction: column;
	}
}
.footer__item{
margin: 10px 50px;
text-align: center;
}

.footer__item p{
	@media all and (max-width: 619px){
	font-size: 0.9em;
 	}
}

.footer__item a{
	text-decoration: none;
	color: $color-lightGrey;

}
