.footer{
	background: #191f27;
  color: #b7bcc6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer__container{
	padding: 15px 30px;
	display: flex;
	justify-content: center;
}
.footer__item{
margin: 10px 20px;
text-align: center;
}

.footer__item p{
	font-size: 0.8em;
	width: 100%;
	@media all and (max-width: 619px){
	font-size: 0.8em;
 	}
	:last-child{
		font-weight: bold;
	}
}

.footer__item a{
	text-decoration: none;
	color: $color-lightGrey;
}

.footer__image--logo{
	width: 110px;
		padding-bottom:  10px;
}
