.footer{
	background:$color-darkGrey;
	color: $color-lightGrey;
	box-sizing: border-box;
}
.footer__container{
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
}
.footer__item{
margin: 0 50px;
text-align: center;
}
.footer__item a{
	text-decoration: none;
	color: $color-lightGrey;
}
.footer__image--logo{
	width: 110px;
	height: 45px;
}
.footer__image--premio{

}

.premios__container {
margin-top: 10px;
}
.premios__container img{
display: inline-block;
width: 90px;
margin-right: 10px;
}
