.footer{
	color: $color-lightGrey;
	box-sizing: border-box;
	background: rgba(25,32,39,1);
	background: -moz-linear-gradient(top, rgba(25,32,39,1) 0%, rgba(32,35,45,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,32,39,1)), color-stop(100%, rgba(32,35,45,1)));
	background: -webkit-linear-gradient(top, rgba(25,32,39,1) 0%, rgba(32,35,45,1) 100%);
	background: -o-linear-gradient(top, rgba(25,32,39,1) 0%, rgba(32,35,45,1) 100%);
	background: -ms-linear-gradient(top, rgba(25,32,39,1) 0%, rgba(32,35,45,1) 100%);
	background: linear-gradient(to bottom, rgba(25,32,39,1) 0%, rgba(32,35,45,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192027', endColorstr='#20232d', GradientType=0 );
}
.footer__container{
	padding: 15px 30px;
	display: flex;
	justify-content: center;
}
.footer__item{
margin: 10px 20px;
text-align: center;
}

.footer__item p{
	padding-top: 10px;
	font-size: 1em;
	width: 100%;
	@media all and (max-width: 619px){
	font-size: 0.8em;
 	}
}

.footer__item a{
	text-decoration: none;
	color: $color-lightGrey;

}

.footer__image--logo{
	width: 156px;
}
