.header{
	background:$color-darkBlue;
}

.header__container{
	display: flex;
	justify-content: space-between;
  align-items: center;
	padding: 10px 30px;
}

.nav{
	padding: 0;
	margin-left: 0;
	list-style-type: none;
	color: #fff;
	display: flex;
	justify-content: space-around;
}
.nav__item{
margin: 0 50px;
}
.nav__item a{
 text-decoration: none;
 color: #fff;
}
.header__item:last-child{
	padding-left: 25px;
    border-left: 1px solid red;
}

.header__image--small{
	width: 125px;
	height: 50px;
}
