.header{
	background:$color-darkBlue;
}

.header__container{
	display: flex;
	justify-content: space-between;
  align-items: center;
	padding: 20px;
	position: relative;
	width: 100%;
	@media all and (max-width: 979px){
	 padding: 20px 12px;
	}
	@media all and (max-width: 669px){
	 padding: 20px 12px;
	 display: inline-block;
	}
}

.header__nav{
	@media all and (max-width: 669px){
	 display: none;
	}
}

.header__nav__mobile{
	display: none;
	@media all and (max-width: 669px){
		display: inline-block;
    float: right;
    margin-right: 20px;
 	}
	.nav{
		position: absolute;
    right: 0;
		display: none;
	}
	.nav__item{
		display: block;
    padding: 11px 0;
    width: 150px;
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
		background: $color-darkBlue;
	}
}

.fa-bars{
	color: $color-white;

}

.nav{
	padding: 0;
	margin-left: 0;
	list-style-type: none;
	color: $color-white;
}
.nav__item{
	display: inline-block;
	margin: 0 30px;
	font-size: 1em;
	@media all and (max-width: 919px){
		margin: 0 15px;
    font-size: 0.87em;
	}
}
.nav__item a{
 text-decoration: none;
 color: $color-white;
}
.header__item:last-child{
	padding-left: 25px;
  border-left: 1px solid $color-white;
	 @media all and (max-width: 919px){
		padding-left: 10px;
	}
	@media all and (max-width: 669px){
	border:none;
	}
}

.header__image--small{
  height: 33px;
	@media all and (max-width: 979px){
 	 	height: 30px
	}
}
.header__image{
	width: 120px;
	height: 33px;
	@media all and (max-width: 919px){
		width: 104px;
    height: 29px;
	}
}
