.header{
	background-image: url('../images/skyfull.jpg');
	position: fixed;
	width: 100%;
	z-index: 100;
}
.header__container{
	display: flex;
	align-items: center;
	padding: 20px;
	position: relative;
	width: 100%;
	@media all and (max-width: 979px){
	 padding: 20px 12px;
	}
	@media all and (max-width: 872px){
	 padding: 20px 12px;
	 display: inline-block;
	}
}

.header__nav{
	@media all and (max-width: 872px){
	 display: none;
	}
}

.header__nav__mobile{
	display: none;
	@media all and (max-width: 872px){
		display: inline-block;
    float: right;
    margin-right: 20px;
 	}
	.nav{
		position: absolute;
    right: 0;
		top: 73px;
		display: none;
	}
	.nav__item{
		display: block;
    padding: 15px 0;
    width: 150px;
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
		background: #232323;
	}
}

.change {
	border: 1px solid $color-white;
}

.fa-bars{
	font-size: 1.5em;
	color: $color-white;
}
.nav{
	padding: 0;
	margin-left: 0;
	list-style-type: none;
	color: $color-white;
}
.nav__item{
	display: inline-block;
	margin: 0 30px;
	font-size: 1em;
	@media all and (max-width: 1165px){
		margin: 0 14px;
		font-size: 0.97em;
	}
	@media all and (max-width: 998px){
		margin: 0 8px;
  	font-size: 0.9em;
	}
}
.nav__item a{
	text-decoration: none;
 	color: $color-white;
 	height: 100%;
}
.header__nav .nav__item:last-child {
  background: $color-red;
  padding: 9px;
  font-weight: bold;
	border: 1px solid $color-white;
	margin: 0;
}

.header__item:last-child{
	padding-left: 25px;
  border-left: 1px solid $color-white;
	position: absolute;
	right: 5%;

	@media all and (max-width: 872px){
		border:none;
		position: relative;
		margin-left: 12px;
	}
}

.header__image--small{
  height: 33px;
	@media all and (max-width: 979px){
 	 	height: 30px;
		margin-left: 20px;
	}
}
.header__image{
	width: 120px;
	height: 33px;
	@media all and (max-width: 919px){
		width: 104px;
    height: 29px;
	}
}
.header__items-logos {
	display: flex;


}
