.header{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0);
	transition:  all .4s ease-in-out;
	height: 100px;
	&.small {
	  height: 60px;
	  background:rgba(0, 0, 0, 1);
	}
	@media all and (max-width: 619px) {
	height: 60px;
 	}
}
.header__item-uda {
	border-left: 1px solid $color-white;
	margin-left: 20px;
	padding-left: 25px;
	flex-grow: 0;
	@media all and (max-width: 1050px) {
		border: none;
		margin-left: 15px;
		padding-left:0;
		align-self: flex-start;
		order: 1;
	}
	.header__image-uda {
		width: 100px;
		@media all and (max-width: 1050px) {
			width: 70px;
		}
		.header__image-uda a {
			display: block;
		}
	}
}
.header__item-redapi {
	flex-grow: 0;
}
.header__image-redapi {
	width: 90px;
	@media all and (max-width: 1050px) {
		width: 60px;
	}
}
.fa-bars {
	cursor: pointer;
	font-size: 1.5em;
	color: $color-white;
	display: none;
	@media all and (max-width: 1050px) {
		display: flex;
		order: 3;
	}
}
.header__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #fff;
	width: 100%;
	padding: 0 25px;
	max-width: 1200px;
	@media all and (max-width: 1050px) {
		align-items: center;
	}
}

.header__nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-grow: 1;
	@media all and (max-width: 1050px) {
		order: 3;
		align-self: center;
		justify-content: center;
		flex-grow: 0;
	}
}
.header__container--button-register {
	display: flex;
	justify-content: flex-end;
	flex-grow: 0;
	margin-right: 5px;
	@media all and (max-width: 1050px) {
	order: 2;
	flex-grow: 1;
	}
}
.nav {
	position: relative;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	font-family: 'Gotham Book';
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;
	margin-left: 10px;

	@media all and (max-width: 1050px) {
		display: none;
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		top: 60px;
		background-color: #000;
		text-align: right;
		right: 0;
	}
}
.nav__item {
	padding: 0;
	display: flex;
	@media all and (max-width: 1050px) {
		width: 100%;
	}
}
.menu--item_desktop {
	font-family: 'Gotham bold';
	cursor: pointer;
	padding: 15px 25px;
	&.active{
		color: $color-red;

	}

	@media all and (max-width: 1050px) {
		width: 100%;
	}
}
